/*COLORS
reddish: rgb(242, 122, 114) */

body {
  background-color: rgb(221, 245, 240);
}

.container {
  background-color: rgb(242, 122, 114);

  padding: 30px;
  display: flex;

  width: 900px;
}

.board {
  border: solid rgb(255, 247, 86) 12px;

  width: 600px;
  height: 600px;
}

.row {
  display: flex;
}

.square {
  background-color: white;
  margin: 0px;
  width: 5px;
  height: 5px;
}

.slider {
  appearance: none;
  width: 200px;
  height: 20px;
  background: gray;
  outline: none;
  border-radius: 12px;
  direction: rtl;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
